.header--amazon .header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: #ffffff;
  @include large {
    height: 25px;
  }
}

.header--amazon.isScrolled .header--logoSvg {
  fill: black;
}

.header--amazon .header--works,
.header--amazon .header--about {
  color: white;
}

.header--amazon.isScrolled .header--works,
.header--amazon.isScrolled .header--about {
  color: black;
}

.title__background--amazon {
  background: #ab7723;
}

.title__amazon {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
  @include large {
    font-size: 60px
   }
}

.amazon__description {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 12px;
  margin: 20px 20px 0 20px;
  line-height: 1.3em;
  color: rgb(87, 87, 87);
}

.amazon__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 15px;
}

.amazon__illustration--one,
.amazon__illustration--two,
.amazon__illustration--three,
.amazon__illustration--four {
  width: 90vw;
  border: #ab7723 2px solid;
}
