* {
  cursor: none;
}

.cursor {
  @include large {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  border: #333333 2px solid;
  border-radius: 100%;
  background: white;
  mix-blend-mode: difference;
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
  }
}

.cursor.isClicked {
  transform: scale(0.7);
}

.cursor.hover {
  transform: scale(1.8);
}

.cursor.isClicked.hover {
  transform: scale(0.9);
}