.cursor {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  border: #333333 2px solid;
  border-radius: 100%;
  background: white;
  mix-blend-mode: difference;
  width: 40px;
  height: 40px;
}

// .cursor__svg {
//   width: 100px;
//   height: 75px;
// }

// .cursor__circle {
//   stroke: #333333;
//   stroke-width: 3;
//   fill: white;
  // mix-blend-mode: difference;
// }
