//virer les classes en trop du html ??!!

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.woff2") format("woff2"),
    url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("../font/NHaasGroteskTXPro-55Rg.woff") format("woff");
}

// @font-face {
//   font-family: "Neue Haas Grotesk";
//   font-style: bold;
//   font-weight: 900;
//   src: url("../font/NHaasGroteskTXPro-75Bd.woff") format("woff");
// }

@keyframes dash {
  to {
    stroke-dashoffset: 6000;
  }
}

@keyframes dashEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashBearHead {
  to {
    stroke-dashoffset: 830;
  }
}

@keyframes dashBearMouth {
  to {
    stroke-dashoffset: 360;
  }
}

@keyframes dashBearHeadEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashBearMouthEnter {
  to {
    stroke-dashoffset: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  width: 100vw;
  // border: red 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--logo {
  border: purple 2px solid;
  font-size: 30px;
  margin-left: 5vw;
}

.headerWrapper {
  margin-right: 5vw;
  // border: blue 2px solid;
}

.header--works {
  margin-right: 5vw;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home__project {
  overflow: hidden;
}

.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; //repet dplsay flex
  transform: translateY(-4vh);
}

.project__visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__logo {
  width: 250px;
  height: 210px;
  padding-bottom: 30px;
}

.project--moschino .project__logo {
  width: 220px;
}

.project--nespresso .project__logo {
  width: 240px;
}

.wikipediaSvg {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke-dasharray: 6000;
  stroke-dashoffset: 0;
}

.wikipediaSvg.leave {
  animation: dash 2s linear forwards;
}

.wikipediaSvg.enter {
  stroke-dashoffset: 6000;
  animation: dashEnter 2s linear forwards;
}

.bear--mouth,
.bear--head {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 830;
  stroke-dashoffset: 0;
}

.bear--head.leave {
  animation: dashBearHead 2s linear forwards;
}

.bear--mouth.leave {
  stroke-dasharray: 360;
  animation: dashBearMouth 2s linear forwards;
}

.bear--head.enter {
  stroke-dashoffset: 800;
  animation: dashBearHeadEnter 2s linear forwards;
}

.bear--mouth.enter {
  stroke-dashoffset: 900;
  animation: dashBearMouthEnter 2s linear forwards;
}

.project__title {
  display: flex;
  justify-content: center;
  align-items: center; //repetition display flex
  text-align: center;
  font-size: 35px;
  color: white;
  height: 40px;
}

.project__title--background {
  // position: relative;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #3c6dbf 50%, white 50%);
  width: 260px;
  transition: background-position 1s ease-in-out;
}

// .project__title--name {
//   position: absolute;
// }

// animation click

// .project--wikipedia .project__title--background {
//   transform: translateY(-58vh); // -450px
//   width: 100vw;
//   height: 200px;
// }

// .project--wikipedia .project__title--name {
//   top: 65px;
// }

//

.project__title--background.leave {
  background-position: 0 -100%;
}

.project--moschino .project__title--background {
  background-image: linear-gradient(to bottom, #ab7723 50%, white 50%);
}

.project--nespresso .project__title--background {
  background-image: linear-gradient(to bottom, black 50%, white 50%);
}

.project__details {
  width: 310px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.05em;
}

.details--title {
  font-weight: 300;
  padding-bottom: 3px;
}

.wrapper--content,
.wrapper--count {
  overflow: hidden;
}

.details--content {
  font-size: 14px;
  color: #3c6dbf;
  transition: transform 1s ease-in-out;
}

.details--content.leave {
  transform: translateY(30px);
}

.project--moschino .details--content {
  color: #ab7723;
}

.project--nespresso .details--content {
  color: black;
}

.wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; //repet
  margin-top: 10px;
  //  border: red 2px solid;
}

.project__count {
  position: absolute;
  top: 5vh;
}

.project__count,
.project__arrow {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; //repet display
}

.project__count--slash {
  color: #3c6dbf; ///repet
  position: absolute;
}

.project--moschino .project__count--slash {
  color: #ab7723;
}

.project--nespresso .project__count--slash {
  color: black;
}

.project__count--number {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.project__count--number.leave {
  transform: translateY(15px);
}

.project__arrow {
  position: absolute;
  align-items: center;
  width: 340px;
  top: 11vh;
}

.project__arrow--left,
.project__arrow--right {
  width: 20px;
}

.zero {
  font-weight: 300;
}

.arrow0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3c6dbf;
}

.project--moschino .arrow0 {
  fill: #ab7723;
}

.project--moschino .arrow0 {
  fill: black;
}

.arrow1 {
  fill: none;
  stroke: #3c6dbf;
  stroke-width: 30;
}

.project--moschino .arrow1 {
  stroke: #ab7723;
}

.project--nespresso .arrow1 {
  stroke: black;
}

.nespressoSvg {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
  // stroke-dasharray: 830;
  // stroke-dashoffset: 0;
}
