//virer les classes en trop du html ??!!

@mixin large {
  @media (min-width: 750px) {
    @content;
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.woff2") format("woff2"),
    url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("../font/NHaasGroteskTXPro-55Rg.woff") format("woff");
}

// @font-face {
//   font-family: "Neue Haas Grotesk";
//   font-style: bold;
//   font-weight: 900;
//   src: url("../font/NHaasGroteskTXPro-75Bd.woff") format("woff");
// }

@keyframes dash {
  to {
    stroke-dashoffset: 6000;
  }
}

@keyframes dashEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes backgroundWikipediaEnter {
  to {
    opacity: 0.5;
    transform: none;
  }
}
@keyframes backgroundEnter {
  to {
    opacity: 0.3;
    transform: none;
  }
}

@keyframes backgroundLeave {
  from {
    opacity: 0.3;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes dashBearHead {
  to {
    stroke-dashoffset: 830;
  }
}

@keyframes dashBearMouth {
  to {
    stroke-dashoffset: 360;
  }
}

@keyframes dashNespresso {
  to {
    stroke-dashoffset: 1500;
  }
}

@keyframes dashBearHeadEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashBearMouthEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dashNespressoEnter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes noise {
  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 5%;
  }

  70% {
    background-position: 0% 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

em {
  font-weight: 800;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.header {
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  width: 100vw;
  // border: red 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include large {
    padding-top: 30px;
  }
}

.header--logo {
  margin-left: 5vw;
}

.header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: black;

  @include large {
    height: 25px;
  }
}

.headerWrapper {
  margin-right: 5vw;

  @include large {
    font-size: 20px;
  }
}

.header--works {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 17px;
  margin-right: 5vw;

  @include large {
    height: 22px;
  }
}

.header--about {
  height: 17px;
  display: inline-block;
}

.header--worksMover {
  transition: transform 0.5s;
}

.header--worksMover.isClicked {
  transform: translateY(-17px);

  @include large {
    transform: translateY(-23px);
  }
}

.header--menu {
  z-index: -1;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 0vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: height 1s; //transform du height ici, pas opti ?
  @include large {
    width: 250px;
    right: 11vw;
    top: 60px;
  }
}

.header--menu.isClicked {
  height: 100vh;
  @include large {
    height: 200px;
  }
}

.header__about {
  position: fixed;
  width: 0vw;
  height: 0vh;
  background: #222222;
  top: 0;
  right: 0;
  transition: width 0.7s, height 0.7s, right 0.7s, top 0.7s;
  @include large {
    top: 40px;
    right: 5vw;
  }
}

.header__about.isClicked {
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
}

.header__about--close {
  opacity: 0;
  z-index: -1;
  color: white;
  position: absolute;
  right: 5vw;
  top: 13px;
  transition: opacity 1s;
}

.header__about--close.isClicked {
  z-index: 1;
  opacity: 1;
}

.header__about--wrapper {
  // position: relative;
  height: 70vh;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__about--svg {
  width: 280px;
  margin-top: 7vh;
  margin-bottom: -20px;
}

.header__about--about {
  fill: #ffffff;
}
.header__about--about,
.header__about--me,
.header__about--meCopy {
  font-family: "Gilroy";
  font-size: 60px;
}

.header__about--me {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.75;
  stroke-miterlimit: 10;
}

.header__about--description {
  width: 90vw;
  font-size: 14px;
}

// .header__about--meCopy {
//   position: absolute;
//   color: #393939;
//   top: 12vh;
//   left:200px;
//   z-index: -1;
// }

.header__about--description,
.header__about--contact,
.header__about--links a {
  color: white;
  font-weight: 300;
  line-height: 130%;
}

.header__about--links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  transform: translateY(8px);
}

.header__about--links a {
  font-weight: 800;
  display: inline;
  width: 100px;
}

.menu__wikipedia--background,
.menu__moschino--background,
.menu__nespresso--background {
  width: 230px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: white;
  @include large {
    width: 440px;
    height: auto;
  }
}

.menu__wikipedia--background {
  background: #3c6dbf;
}

.menu__moschino--background {
  background: #ab7723;
}

.menu__nespresso--background {
  background: #000000;
}

.whiteSlide {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(400px);
  opacity: 0;
  z-index: 0;
  background: white;
  transition: opacity 1s, transform 1s;
  @include large {
    transform: translateY(1000px);
  }
}

.whiteSlide.isClicked {
  opacity: 1;
  z-index: 1;
  transform: translateY(120px);
  @include large {
    transform: translateY(155px);
  }
}

.whiteSlide.isClicked.fadeOut {
  animation: fadeOut 1s forwards;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home__project {
  overflow: hidden;
  background: white;
  @include large {
    &::before {
      content: "";
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../assets/noise.png");
      animation: 1s infinite noise;
      pointer-events: none;
    }
  }
}

.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; //repet dplsay flex
  transform: translateY(-4vh);

  @include large {
    transform: translateY(0);
  }
}

.project__visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__logo {
  width: 250px;
  height: 210px;
  padding-bottom: 30px;
  position: relative;

  @include large {
    width: 500px;
    height: 370px;
  }
}

.project--moschino .project__logo {
  width: 220px;
  @include large {
    height: 370px;
    width: 400px;
  }
}

.project--nespresso .project__logo {
  width: 240px;
  @include large {
    height: 370px;
    width: 430px;
  }
}

.wikipediaSvg {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke-dasharray: 6000;
  stroke-dashoffset: 0;
  @include large {
    stroke-width: 4;
  }
}

.wikipediaSvg.leave {
  animation: dash 1s linear forwards;
}

.wikipediaSvg.enter {
  stroke-dashoffset: 6000;
  animation: dashEnter 1s linear forwards;
}

.wikipediaBackground,
.bearBackground,
.nespressoBackground {
  opacity: 0;
  transform: translateY(10px);
  fill: #3c6dbf;
  position: absolute;
  top: 4px;
  left: 4px;
}

.bearBackground {
  fill: #ab7723;
  top: 3px;
  left: 3px;
}

.nespressoBackground {
  fill: black;
}

.wikipediaBackground.enter {
  animation: backgroundWikipediaEnter 1s forwards;
  animation-delay: 0.3s; // repet animation delay partout
}

.bearBackground.enter,
.nespressoBackground.enter {
  animation: backgroundEnter 1s forwards;
  animation-delay: 0.3s;
}

.wikipediaBackground.leave,
.bearBackground.leave,
.nespressoBackground.leave {
  animation: backgroundLeave 1s forwards; //marche pas
}

.bear--mouth,
.bear--head {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 830;
  stroke-dashoffset: 0;
}

.bear--head.leave {
  animation: dashBearHead 1s linear forwards;
}

.bear--mouth.leave {
  stroke-dasharray: 360;
  animation: dashBearMouth 1s linear forwards;
}

.bear--head.enter {
  stroke-dashoffset: 800;
  animation: dashBearHeadEnter 1s linear forwards;
}

.bear--mouth.enter {
  stroke-dashoffset: 900;
  animation: dashBearMouthEnter 1s linear forwards;
}

.nespressoSvg {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  stroke-dashoffset: 0;
}

.nespressoSvg.leave {
  animation: dashNespresso 1s linear forwards;
}

.nespressoSvg.enter {
  stroke-dashoffset: 1500;
  animation: dashNespressoEnter 1s linear forwards;
}

.project__cta {
  color: #3c6dbf;
  font-size: 12px;
  margin-top: 3px;

  @include large {
    margin-top: 10px;
    font-size: 16px;
  }
}

.project--moschino .project__cta {
  color: #ab7723;
}

.project--nespresso .project__cta {
  color: black;
}

.project__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; //repetition display flex
  text-align: center;
  font-size: 35px;
  color: white;
  @include large {
    font-size: 60px;
  }
}

.project__title--background {
  // position: relative;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #3c6dbf 50%, white 50%);
  width: 260px;
  transition: background-position 1s ease-in-out;
  @include large {
    width: 440px;
  }
}

.project__title--background.leave {
  background-position: 0 -100%;
}

.home .project__title--background.isClicked {
  background: white;
}

.project__title--backgroundCopy {
  width: 260px;
  height: 30px;
  top: 55vh;
  opacity: 0;
  transition: width 1s, height 1s, top 1s;
  background: #3c6dbf;
  position: absolute;
  @include large {
    width: 440px;
    height: 78px;
    top: 63vh;
  }
}

.project--moschino .project__title--backgroundCopy {
  background: #ab7723;
}

.project--nespresso .project__title--backgroundCopy {
  background: black;
}

.project__title--backgroundCopy.isClicked {
  width: 100vw;
  height: 120px;
  top: 4vh;
  opacity: 1;
  @include large {
    top: 0;
    height: 155px;
  }
}

.project__title--nameCopy {
  position: absolute;
}

.project__title--nameCopy.isClicked {
  bottom: 15px;
}

.project--moschino .project__title--background {
  background-image: linear-gradient(to bottom, #ab7723 50%, white 50%);
}

.project--nespresso .project__title--background {
  background-image: linear-gradient(to bottom, black 50%, white 50%);
}

.project__details--wrapper {
  overflow: hidden;
  @include large {
    width: 50px;
    height: 300px;
    position: absolute;
    left: 5vw;
  }
}

.project__details {
  width: 310px;
  margin-top: 20px;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  text-align: center;
  line-height: 1.05em;
  color: #3c6dbf;
  transition: transform 1s ease-in-out;
  @include large {
    margin-top: 0;
    font-size: 40px;
    transform: rotate(-90deg) translateX(-310px);
    transform-origin: top left;
  }
}

.project__details.leave {
  transform: translateY(30px);
  @include large {
    transform: rotate(-90deg) translateX(-550px);
  }
}

.project--moschino .project__details {
  color: #ab7723;
}

.project--nespresso .project__details {
  color: black;
}

// .details--title {
//   font-weight: 300;
//   padding-bottom: 3px;
// }

.wrapper--content,
.wrapper--count {
  overflow: hidden;
}

// .details--content {
//   font-size: 14px;
//   color: #3c6dbf;
//   transition: transform 1s ease-in-out;
//   @include large {
//     font-size: 20px;
//   }
// }

// .details--content.leave {
//   transform: translateY(30px);
//   @include large {
//     transform: translateY(50px);
//   }
// }

// .project--moschino .details--content {
//   color: #ab7723;
// }

// .project--nespresso .details--content {
//   color: black;
// }

.wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; //repet
  margin-top: 10px;
  @include large {
    position: absolute;
    right: 5vw;
    height: 300px;
    width: auto;
    font-size: 20px;
  }
}

.project__count {
  position: absolute;
  top: 5vh;
  @include large {
    position: initial;
  }
}

.project__count,
.project__arrow {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; //repet display
  @include large {
    width: auto;
    flex-direction: column;
  }
}

.project__count--slash {
  color: #3c6dbf; ///repet
  position: absolute;
  @include large {
    position: initial;
    text-align: center;
  }
}

.project--moschino .project__count--slash {
  color: #ab7723;
}

.project--nespresso .project__count--slash {
  color: black;
}

.project__count--number {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.project__count--number.leave {
  transform: translateY(15px);
  @include large {
    transform: translateY(19px);
  }
}

.project__arrow {
  position: absolute;
  align-items: center;
  width: 340px;
  top: 11vh;

  @include large {
    display: none;
  }
}

.project__arrow--left,
.project__arrow--right {
  width: 20px;
}

.zero {
  font-weight: 300;
}

.arrow0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3c6dbf;
}

.project--moschino .arrow0 {
  fill: #ab7723;
}

.project--moschino .arrow0 {
  fill: black;
}

.arrow1 {
  fill: none;
  stroke: #3c6dbf;
  stroke-width: 30;
}

.project--moschino .arrow1 {
  stroke: #ab7723;
}

.project--nespresso .arrow1 {
  stroke: black;
}

.project__scroll {
  display: none;
  @include large {
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    text-align: center;
    width: 100vw;
  }
}

.project__scroll--gif {
  width: 15px;
  margin-top: 7px;
}
