.header--moschino .header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: #ffffff;
}

.header--moschino.isScrolled .header--logoSvg {
  fill: black;
}

.header--moschino .header--works,
.header--moschino .header--about {
  color: white;
}

.header--moschino.isScrolled .header--works,
.header--moschino.isScrolled .header--about {
  color: black;
}

.title__background--moschino {
  background: #ab7723;
}

.title__moschino {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
}

.moschino__description {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 12px;
  margin: 20px 20px 0 20px;
  line-height: 1.3em;
  color: rgb(87, 87, 87);
}

.moschino__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 15px;
}

.moschino__illustration--one,
.moschino__illustration--two,
.moschino__illustration--three,
.moschino__illustration--four {
  width: 90vw;
  border: #ab7723 2px solid;
}
