.header--nespresso .header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: #ffffff;
}

.header--nespresso.isScrolled .header--logoSvg {
  fill: black;
}

.header--nespresso .header--works, .header--nespresso .header--about {
  color: white;
}

.header--nespresso.isScrolled .header--works, .header--nespresso.isScrolled .header--about {
  color: black;
}

.title__background--nespresso {
  background: black;
}


.title__nespresso {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
}

.nespresso__description {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 12px;
  margin: 20px 20px 0 20px;
  line-height: 1.3em;
  color: rgb(87, 87, 87);
}

.nespresso__illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 15px;
}

.nespresso__illustration--one, .nespresso__illustration--two, .nespresso__illustration--three, .nespresso__illustration--four {
  width: 90vw;
  border: black 2px solid;
}