//virer les classes en trop du html ??!!

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Light.woff2") format("woff2"),
    url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// @keyframes dash {
//   to {
//     stroke-dashoffset: 6000;
//   }
// }

// @keyframes dashBearHead {
//   to {
//     stroke-dashoffset: 830;
//   }
// }

// @keyframes dashBearMouth {
//   to {
//     stroke-dashoffset: 360;
//   }
// }

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  position: fixed;
  padding-top: 10px;
  width: 100vw;
  // border: red 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--logo {
  border: purple 2px solid;
  font-size: 30px;
  margin-left: 5vw;
}

.headerWrapper {
  margin-right: 5vw;
    // border: blue 2px solid;
}

.header--works {
  margin-right: 5vw;
}

.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home__project {
  // transform: translateY(-100vh);
}

.project {
  height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;        //repet dplsay flex
}

.project__visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__logo {
  width: 250px;
  height: 200px;
  padding-bottom: 30px;
}

.project--moschino .project__logo {
  width: 220px;
}

.wikipediaSvg {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke-dasharray: 6000;
  stroke-dashoffset: 0;
  animation: dash 2s linear forwards;
}

.bear--mouth, .bear--head {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 830;
  stroke-dashoffset: 0;
}

.bear--head {
  animation: dashBearHead 2s linear forwards;
}

.bear--mouth {
  stroke-dasharray: 360;
  animation: dashBearMouth 2s linear forwards;
}

.project__title {
  display: flex;
  justify-content: center;
  align-items: center;            //repetition display flex
  text-align: center;
  font-size: 35px;
    color: white;
}

.project__title--background {
  background:#3c6dbf;
  width: 260px;
}

.project--moschino .project__title--background {
  background: #AB7723;
}

.project__details {
  width: 310px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.05em;
}

.details--title {
  font-weight: 300;
  padding-bottom: 3px;
}

.details--content {
  font-size: 14px;
  color: #3c6dbf;
}

.project--moschino .details--content {
  color: #AB7723;
}

.wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center; //repet 
  margin-top: 10px;
  //  border: red 2px solid;
}

.project__count {
  position: absolute;
  top: 5vh;
}

.project__count, .project__arrow {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;  //repet display
}

.project__count--slash {
  color:#3c6dbf; ///repet
}

.project--moschino .project__count--slash {
  color: #AB7723;
}

.project__arrow {
  position: absolute;
  align-items: center;
  width: 340px;
  top: 11vh;
}

.project__arrow--left, .project__arrow--right {
    width: 20px;
}

.zero {
  font-weight: 300;
}

.arrow0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #3c6dbf;
}

.project--moschino .arrow0 {
  fill: #AB7723;
}

.arrow1 {
  fill: none;
  stroke: #3c6dbf;
  stroke-width: 30;
}

.project--moschino .arrow1 {
  stroke: #AB7723;
}