@keyframes backgroundWikipediaMove {
  0% {
    transform: none;
    opacity: 0.5;
  }

  to {
    opacity: 0.5;
    transform: translateX(-10px);
  }
}

.background {
  background: white;
}

.header--wikipedia .header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: #ffffff;
  @include large {
    height: 25px;
  }
}

.header--wikipedia.isScrolled .header--logoSvg {
  fill: black;
}

.header--wikipedia .header--works,
.header--wikipedia .header--about {
  color: white;
}

.header--wikipedia.isScrolled .header--works,
.header--wikipedia.isScrolled .header--about {
  color: black;
}

.title {
  position: relative;
}

.text {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.text--center {
  text-align: center;
}

.text::selection {
  background: #3c6dbf; /* WebKit/Blink Browsers */
  color: white;
}

.text::-moz-selection {
  background: #3c6dbf; /* Gecko Browsers */
  color: white;
}

.title__background {
  width: 100vw;
  height: 120px;
  @include large {
    height: 155px;
  }
}

.title__background--wikipedia {
  background: #3c6dbf;
}

.title__wikipedia {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
  @include large {
    font-size: 60px;
  }
}

.wikipedia__lines {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0.1;
  z-index: 0;
}

.wikipedia__lines--one,
.wikipedia__lines--two,
.wikipedia__lines--three,
.wikipedia__lines--four {
  height: 100%;
  width: 1px;
  background: #3c6dbf;
}

.wikipediaSvg--project {
  position: relative;
  width: 400px;
  height: auto;
}

.wikipediaBackground.move {
  animation: backgroundWikipediaMove ease-in-out 2s infinite alternate;
}

.wikipedia__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  margin: 0 auto;
  margin-top: 80px;
  line-height: 1.3em;
  color: #333333;
  // border: red 2px solid;
  position: relative;
  height: 30vw;
}

.wikipedia__description:nth-child(3) {
  height: 400px;
  // border: #3c6dbf solid 2px;
  // background: white;
}

.wikipedia__description--column {
  flex-direction: column;
  height: 110vw;
}

.description__text {
  width: 250px;
  margin: 0 50px 0 50px;
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
  // margin-bottom: 300px;
}

.description__video {
  max-width: 50vw;
}

.description__image {
  width: 50vw;
  height: auto;
  box-shadow: 2px 2px 50px #f0f0f0;
}

.description__image--large {
  width: 70vw;
}

// .wikipedia__illustration {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   margin-top: 15px;
// }

// .wikipedia__illustration--one,
// .wikipedia__illustration--two,
// .wikipedia__illustration--three,
// .wikipedia__illustration--four {
//   width: 90vw;
//   border: #3c6dbf 2px solid;
// }

// .footer {
//   margin: 15px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 40px;
//   height: 100px;
//   border: black 1.5px solid;
//   text-align: center;
// }

// @keyframes slide {
//   to {
//     transform: translateY(-100vh);
//   }
// }

// @keyframes hideAnimation {
// 98% {
//   opacity: 1;
// }

//   100% {
//     opacity: 0;
//     transform: translateY(-100vh);
//   }
// }

// .animation {
//   overflow: hidden;
//   position: relative;
//   height: 100vh;
// }

// .animation__one,
// .animation__two,
// .animation__hide {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   z-index: 2;
// }

// .animation__one,
// .animation__two {
//   transform: translateY(100vh);
// }

// .animation__hide {
//   background: white;
//   animation: hideAnimation 1s forwards;
// }

// .animation__one {
//   background: #3c6dbf;
//   animation: slide 1s ease-in-out forwards;
// }

// .animation__two {
//   background: #234a8c;
//   animation: slide 1s ease-in-out forwards;
//   animation-delay: 0.2s;
// }
