@keyframes backgroundMove {
  0% {
    transform: none;
    opacity: 0.5;
  }

  to {
    opacity: 0.5;
    transform: translateX(-10px);
  }
}

.lazyload {
  background: #ccc 50% 50% no-repeat;
}

.background {
  background: white;
}

.progress {
  height: 5px;
  width: 0px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #3c6dbf;
  z-index: 2;
}

.header--wikipedia .header--logoSvg {
  display: block;
  height: 20px;
  width: auto;
  fill: #ffffff;
  @include large {
    height: 25px;
  }
}

.header--wikipedia.isScrolled .header--logoSvg {
  fill: black;
}

.header--wikipedia .header--works,
.header--wikipedia .header--about {
  color: white;
}

.header--wikipedia.isScrolled .header--works,
.header--wikipedia.isScrolled .header--about {
  color: black;
}

.title {
  position: relative;
}

.text {
  font-family: "Neue Haas Grotesk", sans-serif;
  font-size: 12px;
  font-weight: 300;
  @include large {
    font-size: 17px;
  }
}

.text::selection {
  background: #3c6dbf; /* WebKit/Blink Browsers */
  color: white;
}

.text::-moz-selection {
  background: #3c6dbf; /* Gecko Browsers */
  color: white;
}

.title__background {
  width: 100vw;
  height: 120px;
  @include large {
    height: 155px;
  }
}

.title__background--wikipedia {
  background: #3c6dbf;
}

.title__wikipedia {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
  @include large {
    font-size: 60px;
  }
}

.wikipedia__lines {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  opacity: 0.1;
  z-index: 0;
}

.wikipedia__lines--one,
.wikipedia__lines--two,
.wikipedia__lines--three,
.wikipedia__lines--four {
  height: 100%;
  width: 1px;
  background: #3c6dbf;
}

.svgProject {
  display: none;
  @include large {
    display: block;
    width: 400px;
    height: auto;
    position: relative;
  }
}

.wikipediaBackground.move {
  animation: backgroundMove ease-in-out 2s infinite alternate;
}

.wikipedia__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  @include large {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin: 0 auto;
    margin-top: 80px;
    line-height: 1.3em;
    color: #333333;
    // border: red 2px solid;
    position: relative;
    // height: 30vw;
  }
}

.wikipedia__description:nth-child(3) {
  height: 400px;
  // border: #3c6dbf solid 2px;
  // background: white;
}

.wikipedia__description--column {
  flex-direction: column;
  // height: 700px;
  @include large {
    height: 100vw;
  }
}

.description__text {
  max-width: 80vw;
  text-align: center;
  margin: 10px 0 10px 0;
  @include large {
    text-align: left;
    display: block;
    width: 250px;
    margin: 0 50px 0 50px;
  }
}

.description__wrapper--order {
  order: 1;
  @include large {
    order: 0;
  }
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
  // margin-bottom: 300px;
}

.description__video {
  width: 90vw;
  z-index: 1;
  @include large {
    max-width: 50vw;
  }
}

.description__image {
  width: 90vw;
  height: auto;
  box-shadow: 2px 2px 50px #f0f0f0;
  z-index: 1;
  @include large {
    width: 50vw;
  }
}

.description__image--large {
  @include large {
    width: 70vw;
  }
}

.next {
  text-align: center;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include large {
    height: 200px;
  }
}

.next--container {
  background: white;
  border: #222222 2px solid;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  position: relative;

  @include large {
    height: 100px;
    width: 200px;
  }

  &:before {
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: #222222;
    transform: translateX(-90%) translateY(90%) rotate(-45deg);
    transition: transform 0.4s;
  }

  &:hover {
    color: white;

    &:before {
      transform: translateX(0) translateY(0) rotate(-45deg);
    }
  }
}

.next--text {
  z-index: 2;
}

// .wikipedia__illustration {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   margin-top: 15px;
// }

// .wikipedia__illustration--one,
// .wikipedia__illustration--two,
// .wikipedia__illustration--three,
// .wikipedia__illustration--four {
//   width: 90vw;
//   border: #3c6dbf 2px solid;
// }

// .footer {
//   margin: 15px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 40px;
//   height: 100px;
//   border: black 1.5px solid;
//   text-align: center;
// }

// @keyframes slide {
//   to {
//     transform: translateY(-100vh);
//   }
// }

// @keyframes hideAnimation {
// 98% {
//   opacity: 1;
// }

//   100% {
//     opacity: 0;
//     transform: translateY(-100vh);
//   }
// }

// .animation {
//   overflow: hidden;
//   position: relative;
//   height: 100vh;
// }

// .animation__one,
// .animation__two,
// .animation__hide {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   z-index: 2;
// }

// .animation__one,
// .animation__two {
//   transform: translateY(100vh);
// }

// .animation__hide {
//   background: white;
//   animation: hideAnimation 1s forwards;
// }

// .animation__one {
//   background: #3c6dbf;
//   animation: slide 1s ease-in-out forwards;
// }

// .animation__two {
//   background: #234a8c;
//   animation: slide 1s ease-in-out forwards;
//   animation-delay: 0.2s;
// }
