.title {
  position: relative;
}

.title__background {
  width: 100vw;
  height: 120px;
  background: #3c6dbf;
}

.title__wikipedia {
  position: absolute;
  color: white;
  font-size: 35px;
  bottom: 15px;
  width: 100vw; // repet
  text-align: center;
}


.wikipedia__description {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 100;
  margin: 15px 20px 0 20px;
  line-height: 1.3em;
}

.wikipedia__illustration {
  margin: 30px 20px 0 20px;
  width: auto;
  height: 500px;
  background: lightgrey;
}


// @keyframes slide {
//   to {
//     transform: translateY(-100vh);
//   }
// }

// @keyframes hideAnimation {
// 98% {
//   opacity: 1;
// }

//   100% {
//     opacity: 0;
//     transform: translateY(-100vh);
//   }
// }

// .animation {
//   overflow: hidden;
//   position: relative;
//   height: 100vh;
// }

// .animation__one,
// .animation__two,
// .animation__hide {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   z-index: 2;
// }

// .animation__one,
// .animation__two {
//   transform: translateY(100vh);
// }

// .animation__hide {
//   background: white;
//   animation: hideAnimation 1s forwards;
// }

// .animation__one {
//   background: #3c6dbf;
//   animation: slide 1s ease-in-out forwards;
// }

// .animation__two {
//   background: #234a8c;
//   animation: slide 1s ease-in-out forwards;
//   animation-delay: 0.2s;
// }
